.color1{
    font-weight: bold ;
}
.color3{
    color: blue;
}
.color2{
    color: skyblue;
}
p{
    text-indent: 25px;
    text-align: justify;
    font-family: "Times New Roman";
}
label {
    font-size: xx-large;
    font-weight: bold;
}