<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Cá Nhân</title>
</head>
<body>
    <h1>My Blog</h1>
    <a th:href="@{/create-new-blog}">Create New Blog</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Tác Giả</th>
            <th>Nội Dung</th>
            <th>Mô Tả</th>
            <th></th>
        </tr>
        <th:block th:each="item : ${blogList}">
            <tr>
                <td th:text="${item.id}"></td>
                <td th:text="${item.blogName}"></td>
                <td>
                    <a th:href="@{/view-blog/__${item.id}__}" th:text="${item.content}"></a>
                </td>
                <td th:text="${item.blogDescription}"></td>
                <td>
                    <a th:href="@{/edit-blog/__${item.id}__}">Edit</a> ||
                    <a th:href="@{/delete-blog/__${item.id}__}">Delete</a>
                </td>
            </tr>
        </th:block>
    </table>
</body>
</html>