@import "~bootstrap/dist/css/bootstrap.css";
.maytinh{
  width:180px;
  height:200px;
  background-color: #eaedef;
  top:20px;
  margin:0 auto;
  position:relative;
}
.manhinh{
  text-align: center;
}
.he_thong,.con_so{
  text-align: center;
  width:10px;
  height:10px;
  margin: 15px;
  float:left;
  border-width: 0;
  font-weight:bold;
  font-size:16px
}
