<center>
  <h3>Ứng dụng máy tính</h3>
  <table >
    <tr>
      <td><input type="text" [(ngModel)]="number1"></td>
    </tr>
    <tr>
      <td><input type="text" [(ngModel)]="number2"></td>
    </tr>
    <tr >
      <td>
        <button (click)="addition()">+</button>
        <button (click)="subtraction()">-</button>
        <button (click)="multiplication()">*</button>
        <button (click)="division()">/</button>
        <button (click)="calculator()" >=</button>
      </td>
    </tr>
    <tr>
      <td>{{result}}</td>
    </tr>
  </table>
</center>
