<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <p><a th:href="@{/shopping-cart}">Giỏ hàng của bạn</a></p>
    <table border="1">
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Giá</th>
            <th>Add to cart</th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td> <a th:href="@{/add/__${product.id}__(action='list')}">Add to cart</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>