<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
</head>
<center>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/product}"> Back to Product List</a>
</p>

<form th:action="@{/product/update}" th:object="${product}" method="post" novalidate = "novalidate">
    <fieldset>
        <legend>Product Information</legend>
        <table>
            <input type="hidden" th:field="*{id}">
            <tr>
                <th>Product Name</th>
                <td><input type="text" th:field="*{productName}"></td>
            </tr>
            <tr>
                <th>Price</th>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <th>Producer</th>
                <td><input type="text" th:field="*{producer}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit"value="Update"></td>
            </tr>

        </table>
    </fieldset>
</form>
</body>
</center>
</html>