<h1>Danh mục sản phẩm</h1>
<a class="btn btn-success" routerLink="/category/create">Tạo mới danh mục</a>
<table class="table table-primary table-hover">
  <thead class="table-dark">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.name}}</td>
    <td>
      <a [routerLink]="['/category/edit/',category.id]" class="btn m-2 btn-success">Edit</a>
      <a [routerLink]="['/category/delete',category.id]" class="btn m-2 btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
