<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/home::head}">
    <meta charset="UTF-8">
</head>
<body>
    <div th:replace="~{home::navbar}"></div>
    <h1>Create Employee</h1>
    <p>
        <a class="btn btn-primary rounded-pill" id="backToList" th:href="@{/employee}">Back to list</a>
    </p>
    <div class="container">
    <form th:action="@{/employee/create-employee}" th:object="${employee}" method="post" >
        <table class="table" >
            <tr>
                <td>Name:</td>
                <td><input class="form-control" type="text" th:field="*{nameEmployee}"></td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td><input class="form-control" type="text" th:field="*{birthday}"></td>
            </tr>
            <tr>
                <td>ID Card:</td>
                <td><input class="form-control" type="text" th:field="*{idCardEmployee}"></td>
            </tr>
            <tr>
                <td>Salary($):</td>
                <td><input class="form-control" type="text" th:field="*{salary}"></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input class="form-control" type="text" th:field="*{phoneEmployee}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input class="form-control" type="text" th:field="*{emailEmployee}"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input class="form-control" type="text" th:field="*{addressEmployee}"></td>
            </tr>
            <tr>
                <td>Division:</td>
                <td><select th:field="*{division}">
                    <option th:each="item: ${divisionList}" th:value="${item.idDivision}" th:text="${item.nameDivision}" ></option>
                </select></td>
            </tr>
            <tr>
                <td>Position:</td>
                <td><select th:field="*{position}">
                    <option th:each="item: ${positionList}" th:value="${item.idPosition}" th:text="${item.namePosition}" ></option>
                </select></td>
            </tr>
            <tr>
                <td>Education Degree:</td>
                <td><select th:field="*{educationDegree}">
                    <option th:each="item: ${educationList}" th:value="${item.idEducation}" th:text="${item.nameEducation}" ></option>
                </select></td>
            </tr>
<!--            <tr>-->
<!--                <td>User Type:</td>-->
<!--                <td><select th:field="*{user}">-->
<!--                    <option th:each="item: ${userList}" th:value="${item.roles.name}" th:text="${item.roles}" ></option>-->
<!--                </select></td>-->
<!--            </tr>-->
            <tr>
                <td></td>
                <td><input class="form-control btn-dark" type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
    </div>
    <footer th:replace="~{/home::footer}"></footer>
<!--    Java Script-->
</body>
</html>