<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/home::head}">
    <meta charset="UTF-8">
</head>
<body>
    <div th:replace="~{home::navbar}"></div>
    <h1>List Customer</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <a th:href="@{/employee/create-employee}" class="btn btn-success rounded-pill">Create New Employee</a>
                </div>
                <div>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 p-2" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table border="1" class="table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Division</th>
            <th>Position</th>
            <th>Education Degree</th>
            <th></th>
        </tr>
        <th:block th:each="item : ${employeeList}">
            <tr>
                <td th:text="${item.nameEmployee}"></td>
                <td th:text="${item.phoneEmployee}"></td>
                <td th:text="${item.emailEmployee}"></td>
                <td th:text="${item.division.nameDivision}"></td>
                <td th:text="${item.position.namePosition}"></td>
                <td th:text="${item.educationDegree.nameEducation}"></td>
                <td>
                    <a class="btn btn-primary rounded-pill" th:href="@{/employee/edit-employee/__${item.idEmployee}__}">Edit</a> ||
                    <button class="btn btn-danger rounded-pill" th:data-param1="${item.idEmployee}" th:data-param2="${item.nameEmployee}"
                            onclick="deleteID(this.getAttribute('data-param1'),this.getAttribute('data-param2'))"
                            data-toggle="modal" data-target="#modelId">Delete</button>
                </td>
            </tr>
        </th:block>
    </table>
    <div class="col-md-3">
        <a th:href="@{'/customer'(page = ${employeeList.number -1})}"
           th:if="${employeeList.hasPrevious()}" class="btn btn-outline-primary rounded-pill">Previous</a>
        <span th:text="${employeeList.number + 1}"></span>/<span th:text="${employeeList.totalPages}"></span>
        <a th:href="@{'/customer'(page = ${employeeList.number + 1})}" th:if="${employeeList.hasNext()}"
           class="btn btn-outline-primary rounded-pill">NEXT</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want delete <span style="color: red" id="nameDelete"></span> ???</p>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a type="button" class="btn btn-info" id="accept">OK</a>
                    </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{/home::footer}"></footer>

<!--    Java Scrip-->
    <script>
        function deleteID(id,name){
            document.getElementById("nameDelete").innerText = name;
            document.getElementById("accept").href = "employee/delete/"+id;
        }
    </script>
</body>
</html>